<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <!--  Basic Page Needs -->
    <meta charset="UTF-8" />
    <title>chaithany jyothi welfare association</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/flexslider.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/font-awesome-ie7.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/keyframes.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/grid.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/meanmenu.css" />
    <!-- Scripts -->
    <script type='text/javascript' src='js/jquery.min.js'></script>
    <script type='text/javascript' src='//html5shim.googlecode.com/svn/trunk/html5.js'></script>
    <script src="js/base.js"></script>
    <!-- Scripts for plugins -->
    <script src="js/jquery.fitvids.js"></script>
    <script src="js/jquery.meanmenu.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/jquery.inview.js"></script>
    <script src="js/jquery.scrollParallax.min.js"></script>
  </head>
  <body class="home blog two-column right-sidebar" data-twttr-rendered="true">
    <div id="page">
      <!-- Toolbar -->
      <div id="toolbar">
        <div class="container_16">
          <div class="grid_16">
            <ul>
              <li class="phone"><a href="tel:+1 554 555 5555">Tel.: +1 554 555 5555</a></li>
              <li class="rss"><a href="#"><i class="icon-rss"></i></a></li>
              <li class="contact"><a href="#"><i class="icon-envelope"></i></a></li>
              <li class="share">
                <a href="#"><i class="icon-share"></i></a>
                <ul class="share-items radius-bottom">
                  <li class="share-item-fb radius"><a href="#"><i class="icon-facebook-sign"></i></a></li>
                  <li class="share-item-tw radius"><a href="#"><i class="icon-twitter-sign"></i></a></li>
                  <li class="share-item-gp radius"><a href="#"><i class="icon-google-plus-sign"></i></a></li>
                </ul>
              </li>
              <li class="search">
                <a href="#"><i class="icon-search"></i></a>
                <ul class="search-items radius-bottom">
                  <li>
                    <div class="search-form">
                      <form method="get" id="searchform" action="">
                        <div>
                          <input class="radius" type="text" size="" name="s" id="s" value="Type your searching word" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
                          <input type="submit" id="searchsubmit" value="Search" />
                        </div>
                      </form>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="donate"><a href="#">Donate <i class="icon-tint"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /#toolbar -->
      <header id="branding" class="site-header" role="banner">
        <div id="sticky_navigation">
          <div class="container_16">
            <hgroup class="fleft grid_5">
              <h1 id="site-title"><a href="01-home-page.html" title="Charitas - Foundation" rel="home">Charitas</a></h1>
              <h2 id="site-description">Foundation</h2>
            </hgroup>
            <nav role="navigation" class="site-navigation main-navigation grid_11" id="site-navigation">
              <div class="menu-main-menu-container">
                <ul id="menu-main-menu" class="nav-menu">
                  <li class="menu-item "><a href="01-home-page.html">Home</a></li>
                  <li class="menu-item "><a href="02-causes-list.html">Our Causes</a></li>
                  <li class="menu-item ">
                    <a href="#">Events</a>
                    <ul class="sub-menu">
                      <li class="menu-item"><a href="04-event-list.html">Uppcoming Events</a></li>
                      <li class="menu-item"><a href="04-event-list.html">Past Events</a></li>
                    </ul>
                  </li>
                  <li class="menu-item "><a href="06-press-list.html">Press</a></li>
                  <li class="menu-item "><a href="08-staff.html">Our Staff</a></li>
                  <li class="menu-item ">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                      <li class="menu-item"><a href="11-elements.html">HTML Elements</a></li>
                      <li class="menu-item"><a href="12-404.html">404 Page</a></li>
                    </ul>
                  </li>
                  <li class="menu-item "><a href="10-contact.html">Contacts</a></li>
                </ul>
              </div>
            </nav>
            <!-- .site-navigation .main-navigation -->
            <div class="grid_16 mob-nav"></div>
            <div class="clear"></div>
          </div>
        </div>
      </header>
      <!-- #masthead .site-header -->
      <div class="item teaser-page-404">
        <div class="container_16">
          <aside class="grid_16">
            <h1 class="page-title">404</h1>
            <h2>The page you were looking for could not be found.</h2>
          </aside>
        </div>
      </div>
      <div id="main" class="site-main container_16">
        <div class="inner">
          <div id="primary" class="grid_16">
            <article class="single-404">
              <a target="_self" class="button medium black square" href="01-home-page.html">Go Home</a>
            </article>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <!-- Footer -->
      <footer id="colophon" class="site-footer" role="contentinfo">
        <div id="tertiary" class="sidebar-container" role="complementary">
          <div class="container_16">
            <!-- First Widget Area -->
            <div class="grid_4">
              <aside id="meta-0" class="widget widget_adress">
                <h3>Contact us</h3>
                <address class="vcard">
                  <p class="org vcard"><a class="url fn org" href="#">Charitas ONG</a>
                  <p>
                  <p class="adr">
                    <b>Street Name</b> -<span class="street-address"> 51 Sherbrook W. Montreal</span><br>
                    <span class="region"> Quebec,</span>
                    <span class="postal-code"> H4B H4Y,</span>
                    <span class="country-name"> Canada,</span>
                  </p>
                  <b>Phone:</b><span class="tel"> +1 (514)456 7899</span><br />
                  <b>E-mail:</b><span class="email"> charitas@charitas.com</span><br />
                  <b>Website:</b><span class="url"> www.charitas.com</span><br />
                </address>
              </aside>
            </div>
            <!-- Second Widget Area -->
            <div class="grid_4">
              <aside id="meta-1" class="widget widget_meta">
                <h3>Latest Events</h3>
                <ul>
                  <li><a href="#">Social Networking</a></li>
                  <li><a href="#" title="Silver Spring, WP Info Session June (Info Session)">Silver Spring, WP Info Session June</a></li>
                  <li><a href="#" title="Silver Spring, WP Info Session October">Silver Spring, WP Info Session</a></li>
                  <li><a href="#" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">Success Stories</a></li>
                </ul>
              </aside>
            </div>
            <!-- Third Widget Area -->
            <div class="grid_4">
              <aside id="meta-2" class="widget widget_meta">
                <h3>Get involved</h3>
                <ul>
                  <li><a href="#">The Big Give Team</a></li>
                  <li><a href="#" title="Success Stories">Success Stories</a></li>
                  <li><a href="#" title="Press">Press</a></li>
                  <li><a href="#" title="Contact Us">Contact Us</a></li>
                </ul>
              </aside>
            </div>
            <!-- Forth Widget Area -->
            <div class="grid_4">
              <aside id="meta-3" class="widget widget_meta">
                <h3>Latest Tweets</h3>
                <div class="latest-tweets-body">
                  <a href="#">@viktoras</a> Thanks! We're always redesigning things around here :)
                </div>
                <div class="clear"></div>
                <div><a href="#" class="radius follow">Follow @wplook</a></div>
              </aside>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <!-- Site Info -->
        <div class="site-info">
          <div class="container_16">
            <!-- CopyRight -->
            <div class="grid_8">
              <p class="copy">Copyright ©  2013.  All Rights reserved.  </p>
            </div>
            <!-- Design By -->
            <div class="grid_8">
              <p class="designby">Designed by <a href="http://wplook.com">WPlook</a></p>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <!-- .site-info -->
      </footer>
      <!-- #colophon .site-footer -->
    </div>
    <!-- /#page -->
  </body>
</html>