<html>
  <head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>CJWS 500</title>
  </head>
  <body style="text-align: center;">
    <h1>
      500
    </h1>
    <div class="container">
      <h3>The page you're looking for could not be found</h3>
      <hr />
      <p>Make sure the address is correct and the page hasn't been moved.</p>
      <p>Please contact your CJWS Administrator.</p>
      Go back to <a href="{% url 'blog:index' %}">Home</a>
    </div>
  </body>
</html>