{% extends "site/base.html" %}
{% block content %}
<div class="container">
<div class="inner row">
  <div id="primary" class="col-md-12 contact_us_lists">
    <article class="single">
      <div class="entry-content">
        <h3>Say Hello!</h3>
        <br/>
        <form id="contact-form" method="post">
          {% csrf_token %}
          <p>
            <label for="contactName"></label>
            <input class="form-control"  type="text" name="name" id="contactName" value="" placeholder="Name*" required/>
            <span class="clear"></span>
            <span class="error" id="name" style='display:none;'></span>
          </p>
          <p>
            <label for="email"></label>
            <input class="form-control" type="email" name="email" id="email" value="" placeholder="Email Adress*" required/>
            <span class="clear"></span>
            <span class="error" id="email" style='display:none;'></span>
          </p>
          <p>
            <label for="commentsText"></label>
            <textarea class="contactme-text required requiredField form-control" name="message" width="100%" rows="3" placeholder="Message" required="required"></textarea>
            <span class="clear"></span>
            <span class="error" id="email" style='display:none;'></span>
          </p>
          <p>
            <input  class="buttons form-control send" value="Send !" type="submit"></input >
            <input type="hidden" name="submitted" id="submitted" value="true" />
          </p>
        </form>
        <div class="clear"></div>
      </div>
        <div class="row address">
          <div class="col-md-2">
          </div>
          <div class="col-md-4">
            <p>
            <b>Street Name</b> -<span class="street-address"> 26-3-215, Thyagaraya Nagar 4th street,</span>
            <span>  Vedayapalem, Nellore - 524004 ,</span>
            <span> Andhra Pradesh , </span>
            <span> India.</span>
          </p>
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-5">
          <i class="fa fa-phone"></i><b> Phone:</b><span class="tel"> +91 (861)2344063</span><br />
       <i class="far fa-envelope"></i><b> E-mail:</b><span class="email"> hello@cjws.in</span><br/>
          <i class="fa fa-link"></i><b> Website:</b><span class="url">  www.cjws.in</span><br/>
          </div>
         
      </div>
      <div class="clear"></div>
    </article>
  </div>
  <div class="col-md-12">
  <div id="secondary contact_us_list" class="justify-content-center widget-area" role="complementary">
    <aside id="wpltfb3-2" class="widget WPlookCauses">
      <div class="widget-title">
        <h3>Events</h3>
     
        <div class="clear"></div>
      </div>
      <div class="widget-event-body">
          {% for event in event_list %}
          <article class="event-item event_item">
            <figure>
              {% if event.image %}
              <a title="Image title" href="{{ event.get_absolute_url }}">
              <img src="{{ event.image.url }}" class="wp-post-image" alt="Image alt">
              </a>
              {% endif %}
               <h3 class="entry-header">
              <a title="Change a Life Through Education Lorem Ipsum dolar sit and dolar" href="{{ event.get_absolute_url }}">{{ event.name }}</a>
            </h3>
            </figure>
           
            <div class="entry-meta-widget">
              <div class="date"><time datetime="2013-04-25T19:02:42+00:00"><i class="fa fa-calendar"></i>{% if event.start_date %} {{ event.start_date }}{% endif %}</time></div>
              <div class="location"><i class="fa fa-map-marker"></i> <a href="#">{{ event.location }}</a></div>
            </div>
          </article>
          {% endfor %}
           <div class="viewall fright" style="margin-bottom: 2rem;"><a href="/events/" class="radius" title="View all chauses">view all</a></div>
    </div>
  </aside>
</div>
</div>
</div>
</div>
    <div class="clear"></div>
{% endblock %}
{% block extra_js %}
<script src="https://malsup.github.io/jquery.form.js"></script>
<script>
  $(document).ready(function(){
       $('form').ajaxForm({
         dataType: 'json',
         data : $('#form').serialize(),
         type: "POST",
         success: function(data){
           if (data.error == false)
           {
             alert(data.data);
             window.location ='/contact-us/';
           }
           else
           {
           $('.error').text('');
              $('.error').show();
             $.each( data, function( key, value ) {
            $('#'+key).text(value);
            });
             }
           }
         });
     });
     $('#senddetails').click(function(e){
      e.preventDefault();
     $('#form').submit();
     });
</script>
{% endblock %}