{% extends "site/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="donation">
<div class="col-md-12">
	<div class="container">
		<div class="col-md-10 employee-section m-auto">
	    <h1 class="pt-4">CJWS acquired an open-source job portal from MicroPyramid to develop the technical skills of the youth in relevant technologies of the open-source job portal</h1>
		<p class="mt-4 description">CJWS strongly believes that the only way to implement sustainable education is by providing employment. CJWS has many programs, functions, and roles which assist the community to become empowered, and eventually attain sustainable development. Under the non-profit skill and employment program, CJWS acquired an open-source job portal from MicroPyramid. </p>
		<div class="col-md-8 m-auto inner">
		<img src="/static/site/images/ngo-cms.png" width="100%">
	    </div>
		<p class="description">We aim to develop the technical skills of the youth in relevant technologies of the open-source job portal. Many job portal websites are charging to apply for specific jobs but in Peel Jobs portal user is not restricted and can apply to any number of jobs according to their field of interest.</p>	
		<p class="description mb-5">Recruiters can post their job details without any charges. In this way, Peel jobs will be beneficial to both recruiter and employees. The source and code of the job portal are open in MIT license. CJWS motivates students to follow the technical trends and strongly encourages the student to learn new tech for a better career.</p>
	</div>
   </div>
</div>
</div>
{% endblock %}