{% extends "admin/base.html"%}
{% block content %}
<!--vertical bar ends above-->
<!--content goes here-->
<div class="container wid-cont">
<!--container starts above-->
<div class="cover-panel">
  <!--cover panel starts above-->
  <h2>Add Category</h2>
  <form name="create_category" id="category_add_form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="section">
      <div class="labl"><label id="id_name">Name</label><span style="color:red;">*</span></div>
      <div class="txt-box-div"><input type="text" name="name" id="category_add_name1" />
        <span class="error" id="name" style='display:none;'></span>
      </div>
      <div class="section">
        <div class="labl"><label>Description</label></div>
        <div class="txt-box-div"><textarea rows="7" name="description" ></textarea>
        </div>
      </div>
      <div class="section">
        <div class="labl"><label>Clean Url</label><span style="color:red;">*</span></div>
        <div class="txt-box-div"><input type="text" name="slug" id='category_add_slug1' class="category_add_slug1" />
          <span class="error" id="slug" style='display:none;'></span>
        </div>
      </div>
      <div class="section">
        <div class="labl"><label id="id_image">Image</label></div>
        <div class="txt-box-div"><input type="file" name="image" />
          <span class="error" id="image" style='display:none;'></span>
        </div>
      </div>
      <div class="btn-rgt">
        <button type="submit" id="category_add_save" class="sav-btn"><i class="fa fa-floppy-o pad-rt"></i>Save</button>
        <button id="category_add_cancel" class="sav-btn">Cancel</button>
      </div>
  </form>
  <!--cover panel ends below-->
  </div>
  <!--container ends below-->
</div>
<!--content goes here-->
{% endblock content %}