{% extends "admin/base.html" %}
{% load staticfiles %}
{% block content %}
<!--vertical bar ends above-->
<!--content goes here-->
<div class="container wid-cont">
<!--container starts above-->
<div class="cover-panel">
  <!--cover panel starts above-->
  <h2>Edit Menu</h2>
  <form name="Edit-menu" id="menu_edit_form" method="post">
    {% csrf_token %}
    <div class="section">
      <div class="labl"><label id="id_name">Menu Name</label><span style="color:red;">*</span></div>
      <div class="txt-box-div"><input type="text" name="name" id="menu_edit_name1" value="{{menu.name}}" />
        <span class="error" id="name" style='display:none;'></span>
      </div>
      <div class="section">
        <div class="labl"><label>Parent</label></div>
        <div class="txt-box-div">
          <select name="parent">
            <option value={{menu.parent.id}}>{{menu.parent.name}}</option>
            <option></option>
            {% for m in menu_list %}
            <option value={{m.id}}>{{m.name}}</option>
            {% for s in m.menu_set.all %}
            <option value={{s.id}}>{{s.name}}</option>
            {% endfor %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="section">
        <div class="labl"><label>Clean Url</label><span style="color:red;">*</span></div>
        <div class="txt-box-div"><input type="text" name="slug" id="menu_edit_slug1" value="{{ menu.slug }}" />
          <span class="error" id="slug" style='display:none;'></span>
        </div>
      </div>
      <div class="btn-rgt">
        <button type="submit" id="menu_edit_save" class="sav-btn"><i class="fa fa-floppy-o pad-rt"></i>Save</button>
        <button  id="menu_edit_cancel" class="sav-btn">Cancel</button>
      </div>
  </form>
  <!--cover panel ends below-->
  </div>
  <!--container ends below-->
</div>
<!--content goes here-->

{% endblock %}

{% block extra_js %}
    <script src="{% static 'admin/js/cjws_my_script.js' %}"></script>
{% endblock %}
