{% extends "admin/base.html"%}
{% block content %}
<!--vertical bar ends above-->
<!--content goes here-->
<div class="container wid-cont">
  <!--container starts above-->
  <div class="cover-panel">
    <!--cover panel starts above-->
    <h2>List of Pages<span><a href="/admin/page/add/"><button class="new-btn"><i class="fa fa-plus pad-rt"></i>Add New Page</button></a></span></h2>
    <form style="width:100%;">
      <table>
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Title</th>
            <th>slug</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for p in page_list %}
          <tr>
            <td style="text-align:center;">{{forloop.counter}}</td>
            <td>{{p.title}}</td>
            <td>{{p.slug}}</td>
            <td><a href="/admin/page/edit/{{p.id}}/" title="Edit"><i class="fa fa-pencil-square-o edit-icon"></i></a>
              <a href="/admin/page/delete/{{p.id}}/" class="remove_page" title="Delete"><i class="fa fa-trash-o trash-icon"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
    <!--cover panel ends below-->
  </div>
  <!--container ends below-->
</div>
<!--content goes here-->
{% endblock %}
