{% extends "admin/base.html"%}
{% load staticfiles %}
{% block content %}
<head>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//malsup.github.com/jquery.form.js"></script>
  <link rel="stylesheet" type="text/css" href="//xoxco.com/projects/code/tagsinput/jquery.tagsinput.css" />
  <script type="text/javascript" src="//xoxco.com/projects/code/tagsinput/jquery.tagsinput.js"></script>
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'></script>
  <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/start/jquery-ui.css" />
  <link rel="stylesheet" href="{% static 'admin/css/cjws_style.css' %}" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
</head>
<!--vertical bar ends above-->
<!--content goes here-->
<div class="container wid-cont">
  <!--container starts above-->
  <div class="cover-panel">
    <!--cover panel starts above-->
    <h2>Add Article</h2>
    <form name="create_post" id="post_add_form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="section">
        <div class="labl"><label id="id_title">Title</label><span style="color:red;">*</span></div>
        <div class="txt-box-div"><input type="text" name="title" id="post_add_title1" />
          <span class="error" id="title" style='display:none;'></span>
        </div>
      </div>
      <div class="section">
        <div class="labl"><label>Category</label><span style="color:red;">*</span></div>
        <div class="txt-box-div">
          <select name="category">
            <option disabled selected value> -- select an option -- </option>
            {% for c in category_list %}
            <option value={{c.id}}>{{c.name}}</option>
            {% endfor %}
          </select>
          <span class="error" id="category" style='display:none;'></span>
        </div>
      </div>
      <div class="section">
        <div class="labl"><label id="id_short_desc"> Short Description</label><span style="color:red;">*</span></div>
        <div class="txt-box-div">
          <textarea name="short_desc" rows="7"></textarea>
          <div class="error" id="short_desc" style='display:none;'></div>
        </div>
      </div>
      <div class="section">
        <div class="labl"><label id="id_content">Content</label><span style="color:red;">*</span></div>
        <input type="hidden" id="description" name="description">
        <div class="txt-box-div">
          <div id="editor-container"></div>
          <div class="error" id="id_description" style='display:none;'></div>
        </div>
      </div>
      <div class="section">
        <div class="labl"><label id="id_image">Image</label><span style="color:red;">*</span></div>
        <div class="txt-box-div"><input type="file" name="image" />
          <span class="error" id="image" style='display:none;'></span>
        </div>
      </div>
      <div class="section">
        <div class="labl"><label>Featured News</label></div>
        <div class="txt-box-div chk"><input type="checkbox" name="is_featured_news" />
        </div>
      </div>

      <div class="section">
        <div class="labl"><label id="id_slug">Clean Url</label><span class="required" style="color:red;">*</span></div>
        <div class="txt-box-div"><input type="text" name="slug" id="post_add_slug1" class="post_add_slug1" />
          <span class="error" id="slug" style='display:none;'></span>
        </div>
      </div>
      <div class="section">
        <div class="input_fields_wrap">
          <div class="labl"><button class="padd_field_button" style="color:#fff; background:#ff6c60; border:1px solid #ff6c60; padding:5px;"><i class="fa fa-plus pad-rt"></i>Add More Images</button></div>
          <div class="txt-box-div" style="min-height:25px"><input type="file" name="photos"></div>
        </div>
      </div>
  </div>
  <div class="btn-rgt">
  <button type="submit" id="post_add_save" class="sav-btn"><i class="fa fa-floppy-o pad-rt"></i>Save</button>
  <button id="post_add_cancel" class="sav-btn">Cancel</button>
  </div>
  </form>
  <div class="row marl progress-row">
    <div class="progress">
      <div class="bar">&nbsp;</div>
      <div class="percent">0%</div>
    </div>
  </div>
  <!--cover panel ends below-->
</div>
<!--container ends below-->
</div>
<!--content goes here-->
{% endblock %}
